.el-table th {
  background: rgba(27,31,35,.05);
}
.el-table .cell {
  text-align: center;
}

.el-select .el-input__inner {
  min-width: 190px;
}

.el-tree-node__content .tree-node-operate {
  margin-left: 2em;
  display: none;
}

.el-tree-node__content:hover .tree-node-operate {
  display: inline-block;
}
