form input,
form select {
  /* padding: 0 8px; */
  min-width: 480px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #DCDFE6;
  border-radius: 5px;
}

form input:focus,
form select:focus {
  border: 1px solid #409EFF;
  outline: none;
}

form textarea {
  width: 480px;
  min-height: 160px;
  border: 1px solid #DCDFE6;
  border-radius: 5px;
}

form textarea:focus {
  border: 1px solid #409EFF;
  outline: none;
}

form input[type="submit"] {
  margin-top: 8px;
  margin-left: 8px;
  min-width: 80px;
  padding: 4px 8px;
  color: #fff;
  background: rgb(64, 158, 255);
  border: none;
}
